

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
  text-decoration: none;
}

body {

  background-color: var(--space-grey);
}

:root {

  --space-grey: #222222;
}